<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Code:</strong>
  <%= @place.code %>
</p>

<p>
  <strong>Population:</strong>
  <%= @place.population %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
